.hide {
  text-indent: -999999px;
  font-size: 0;
}

.button {
  border: 0;
  background: $yellow;
  color: $black;
  font-family: 'Panama';
  font-weight: 600;
  cursor: pointer;
  margin-top: 20px;
  &.--red {
    background: $red;
    color: #fff;
  }
}

.avatar {
 min-width: 50px;
 height: 50px;
 border-radius: 50%;
 align-self: center;
}

.card {
  background: white;
  padding: 5rem;
  margin-bottom: 3rem;
  box-shadow: 0 1px 10px rgba(0,0,0,0.15);
  .half_wrapper {
    display: flex;
    justify-content: space-between;
  }
  .half_input {
    flex-basis: 49%;
  }
}

pre.error {
  padding: 5rem;
  background: white;
  line-height: 3;
  white-space: pre-line;
}


.address_wrapper {
  .address_dropdown {
    p.item {
      line-height: 1;
      margin: 0;
      padding: 10px;
      color: #303030;
      cursor: pointer;
      border-left: 1px solid rgba(0,0,0, .2);
      border-right: 1px solid rgba(0,0,0, .2);
      &:last-child {
        border-bottom: 1px solid rgba(0,0,0, .2);
      }
      &:hover {
        background-color: rgba(0,0,0, .5);
        color: #fff;
      }
    }
  }
}